:root {
  /* Resolutions */
  --mobile: 375px;
  --desktop: 375px;

  /* Colors */
  --tomato: hsl(4, 100%, 67%);
  --dark-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --font-md: 16px;

  /* Fonts Family */
  --roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: var(--dark-grey);
}

p,
li {
  color: var(--charcoal-grey);
}

ul {
  list-style: none;
}

button {
  font-family: var(--roboto);
}